@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
font-family: 'oswald', sans-serif;
}

.text {
   text-align:center;
   padding-top:200px ;
   font-weight:border; 
   font-size:50px;
}
